```
# Build artifacts
build/
dist/

# Compiled Python files
*.pyc
__pycache__/
localpycs/

# Executables
*.exe
*.pkg
*.toc
*.pyz

# PyInstaller specific
*.spec
warn-*.txt
xref-*.html

# Logs
*.log
```